<table class="w-full caption-bottom text-sm">
  <thead class="[&amp;_tr]:border-b">
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
      <!-- <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
        Year
      </th> -->
      <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
        Month
      </th>
      <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
        Profit/Loss
      </th>
      <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
        Assets Value
      </th>
    </tr>
  </thead>
  <tbody class="[&amp;_tr:last-child]:border-0">
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
      <!-- <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">2023</td> -->
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">January</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-green-500">$5000</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">$20000</td>
    </tr>
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
      <!-- <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">2023</td> -->
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">February</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-red-500">-$3000</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">$17000</td>
    </tr>
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
      <!-- <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">2023</td> -->
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">March</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-green-500">$7000</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">$24000</td>
    </tr>
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
      <!-- <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">2023</td> -->
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">April</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-red-500">-$2000</td>
      <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">$22000</td>
    </tr>
  </tbody>
</table>