<table class="w-full caption-bottom text-sm">
  <thead class="[&amp;_tr]:border-b">
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
      <!-- <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
        Year
      </th> -->
      <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
        Month
      </th>
      <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
        Profit/Loss
      </th>
      <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
        Assets Value
      </th>
    </tr>
  </thead>

  <tbody class="[&amp;_tr:last-child]:border-0">
    {% for entry in balance_sheet_for_target_year %}
      <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">{{ entry['monthName'] | capitalize }}</td>
        {% if entry['profitOrLoss'] > 0 %}
          <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-green-500">${{ entry['profitOrLoss'] }}</td>
          {% else %}
          <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-red-500">${{ entry['profitOrLoss'] }}</td>
        {% endif %}
        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">${{ entry['assetsValue'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>