<html>
  <head>
    {% include 'head.html' %}
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="flex flex-wrap justify-center mt-12">
      <div class="basis-1/2">
        {% for year in balance_sheet_years %}
          <a href="/loan_applications/{{ loan_application_id }}/balance_sheet?year={{ year }}">
            {% if year == target_year %}
              <button class="bg-violet-500 hover:bg-violet-700 text-white py-2 px-4 rounded-full shadow focus:outline-none focus:shadow-outline" type="button">
                {{ year }}
              </button>
            {% else %}
              <button class="bg-slate-300 hover:bg-violet-700 text-white py-2 px-4 rounded-full shadow focus:outline-none focus:shadow-outline mr-2" type="button">
                {{ year }}
              </button>
            {% endif %}
          {% endfor %}
        </a>
      </div>
    </div>

    <div class="flex flex-wrap justify-center">
      <div class="mt-4 p-4 bg-white shadow-md rounded-lg basis-1/2">
        <div class="relative w-full overflow-auto">
          {% include 'loan_applications/balance_sheet/_table.html' %}
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center mt-6">
      <a href="/loan_applications/{{ loan_application_id }}/balance_sheet/accept">
        <button class="bg-violet-500 hover:bg-violet-700 text-white font-bold py-2 px-4 rounded shadow focus:outline-none focus:shadow-outline" type="button">
          Accept
        </button>
      </a>
    </div>
  </body>
</html>
