<html>
  <head>
    {% include 'head.html' %}
  </head>

  <body>
    <div>
      <div class="text-center mt-20">
          <h1 class="text-5xl font-bold">Instaloan</h1>
          <h2 class="text-xl mt-2">Instant loan for your business</h2>

          <a class="block mt-24" href="/loan_applications/new">
            <button class="bg-violet-500 hover:bg-violet-700 text-white py-4 px-8 rounded shadow focus:outline-none focus:shadow-outline font-bold" type="button">
              Start your loan application
            </button>
          </a>
      </div>
    </div>
  </body>
</html>
